
body{
    background-color: rgb(20, 19, 19);
}

.fondo1{
    background-image: url(../imagenes/fondo\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5% 10% 10%;
    width: 1200px;
    height: 1000px;
}

#titulo{
    font-family: "Protest Revolution", sans-serif;
    font-size: 40px;
    height: 1.8cm;
    color: black   ;
    background-color: rgba(255, 255, 255, 0.397);
    margin-left: 70px;
    margin-right: 70px;
    border: solid;
    border-color: rgb(113, 5, 254);
    text-shadow: 8px 11px 20px;
  
}

.foto_informacion{
    height: 12.2 cm;
    margin-left: 70px;
    margin-top: -28px;
    margin-right: 70px;
    border: solid;
    border-color: rgb(113, 5, 254);
    background: rgba(0, 0, 0, 0.745);
}

#info{
    height: 12cm;
    margin-left: 70px;
    margin-top: 0px;
    margin-right: 70px;
    border: solid;
    border-color: rgb(113, 5, 254);
    background: rgba(0, 0, 0, 0.745);
    text-align: justify;
    font-family: "Protest Revolution", sans-serif;
    font-size: 25px;
    color: white;

}

.tabla, td, th{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Geneva, Tahoma, sans-serif;
    border: double 2px white;
    text-align: center;
    margin-left:  16%;
}
